@using Busines
@using Entities
@{
    Manager Tm = new Manager();
    List<Izinler> list = Tm.GetIzinler();
}
<!-- DataTales Example -->
<div class="card shadow ">
    <div class="card-header ">
        <h6 class="m-0 font-weight-bold text-primary">Izinler</h6>
    </div>
    <div class="card-body">
        <!--  <a class="btn btn-success text-light float-right">
            Temas Ekle


        </a>-->


        <button type="button" class="btn btn btn-success btn-lg float-right" data-toggle="modal" data-target="#IzinOlustur">
            İzin Oluştur
        </button>

        <div class="modal fade" id="IzinOlustur" tabindex="-1" role="dialog" aria-labelledby="">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">İzin Oluştur</h4>
                    </div>
                    <form method="post" action="/home/IndexIzin">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>
                                    Adı Soyadı
                                </label>
                                <input type="text" name="AdiSoyadi" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Telefon Numarası</label>
                                <input type="text" name="TelefonNumarasi" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Mail</label>
                                <input type="text" name="Mail" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Başlangıç Tarihi</label>
                                <input type="text" name="baslangicTarihi" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Bitiş Tarihi</label>
                                <input type="text" name="bitisTarihi" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Açıklama</label>
                                <input type="text" name="Aciklama" class="form-control" />
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
                            <button type="submit" class="btn btn-primary">İzin oluştur</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


        <br />
        <br />




        <table class="table table-bordered" id="dataTable" cellspacing="0">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Adı Soyadı</th>
                    <th>Mail</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Bitiş Tarihi</th>
                    <th>Açıklama</th>
                   
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>Adı Soyadı</th>
                    <th>Mail</th>
                    <th>Başlangıç Tarihi</th>
                    <th>Bitiş Tarihi</th>
                    <th>Açıklama</th>
                </tr>
            </tfoot>
            <tbody>
                @foreach (Izinler cat in list)
                {
                    <tr onclick="document.location='@Url.Action("Izinler","Home",new { id=cat.ID })'">
                        <td>@cat.ID</td>
                        <td>@cat.AdiSoyadi</td>
                        <td>@cat.Mail</td>
                        <td>@cat.baslangicTarihi</td>
                        <td>@cat.bitisTarihi</td>
                        <td>@cat.Aciklama</td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Bootstrap core JavaScript-->
<script src="~/Content/vendor/jquery/jquery.min.js"></script>
<script src="~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Core plugin JavaScript-->
<script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<!-- Page level plugins -->
<script src="~/Content/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/vendor/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Page level custom scripts -->
<script src="~/Scripts/demo/datatables-demo.js"></script>
